
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


    .logoweb{
        position: absolute;   /* Set the 2nd image with help of absolute position*/ 
        top: 50%;
        right: 35%;
        width: 50%;
        font-family: 'Alkatra', cursive; 
        color: rgb(243, 7, 7);
        text-shadow: 2px 1px 2px yellow; 
        font-size: 2.5rem;
    }
    @media only screen and (min-width: 385px) {
        .logoweb{
            position: absolute;   /* Set the 2nd image with help of absolute position*/ 
            top: 40%;
            right: 35%;
            width: 50%;
            font-family: 'Alkatra', cursive; 
            color: rgb(243, 7, 7);
            text-shadow: 2px 1px 2px yellow; 
            font-size: 2.5rem;
        }
        
      }
 

/* Home Cover css */
.homecover{
    margin-top: 160px;
}

/* slider css */
.feature{
    font-family: 'Alkatra', cursive; 
    color: rgb(249, 143, 161);
    text-shadow: 2px 1px 2px rgb(252, 6, 112); 
}



